<!DOCTYPE html>
<html>
  <head>
    <title>User List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>User List</h1>
    <table id="users">
      <tr>
        <th>User Name</th>
        <th>Email</th>
        </tr>
        <%
        var list = '';
        for (i = 0; i < userlist.length; i++) {
          list += '<tr><td>'+ userlist[i].email + '</td>' + '<td>' + userlist[i].username + '</td></tr>';
        }
      %>
      <%- list %>
      
      <!--
      <%
        var list = '';
        for (i = 0; i < userlist.length; i++) {
          list += '<li><a href="mailto:' + userlist[i].email + '">' + userlist[i].username + '</a></li>';
        }
      %>
      <%- list %>
      -->
      </table>
  </body>
</html>
